body {
    background-color: black;
    position: fixed;
}
.bg {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/city_street_2_desktop_background_wallpaper.jpg);
    background-size: cover;
    z-index: -1;
    -webkit-filter: blur(5px);
}
.logo {
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    position: fixed;
    margin: -300px 0px 0px -250px;
    color: aliceblue;
}
.logo img{ 
    width: 500px;
    height: 500px;
}
.singIn {
    position: fixed;
    width: 500px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.59);
    border-radius: 4px;
    left: 50%;
    top: 50%;
    margin: -150px 0px 0px -250px;
}
.singIn h2 {
    color: #3b3b3b;
}
.singIn input {
    height: 30px;   
}
.cont {
    position: fixed;
    width: 100%;
    height: 100%;
}
.menu {
    position: relative;
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.77);
    float: left;
}
.cardUser {
    position: relative;
    width: 90%;
    height: 250px;
    left: 50%;
    margin-left: -45%;
    background-color: rgba(34, 28, 25, 0.47);
    border-radius: 4px;
}
.myphoto {
    width: 140px;
    height: 140px;
    object-fit: cover;
}
.cardUser h4 {
    color: aliceblue;
}
.cardUser h5 {
    color: aliceblue;
}
.list {
    position: relative;
    float: right;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.77);
}